.blue{
    color:blue;
}
.red{
    color: red;
}
.big_fonts{
    font-size: 42px;
}
.sharikkk{
    font-family: cursive;
}
#my_first_id{
    display: none;
}

@media (max-width: 768px){
    .blue{
        color: red;
    }
}